:root{
  --font: Georgia, Serif
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
/* .active{
  background-color: #e0301e;
} */
.header{
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: auto;
  padding-top: 10px;
}
.header__container{
  display: flex;
  width: 100%;
  max-width: 1600px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: solid 2px #DDDDDD;
}
.header_logo{ 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5em;
  height: 3.44em;
  margin-bottom: 10px;
  align-self: center;
}
.header_logo img{
  width: 100%;
  height: 100%;
}

.header__nav{
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: flex-end;
  position: relative;
}

.header__nav .icon-container{
  display: none;
}

.header__nav-list{
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.header__nav-item{
  padding-top: 2px;
  padding-bottom: 15px;
  cursor: pointer;
  position: relative;
  align-self: flex-end;
}

.nav-item--list::after{
  content: '';
  background-color: black;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: transform .25s ease-in-out;
}

.nav-item--list.active::after {
  background-color: #fd5108; /* Fondo rosa claro PwC */
}


.nav-item--list:hover::after,
.nav-item--list.active::after{
  transform: scaleY(1);
}

.header__nav-item::after { 
  height: 4px;
}

.header_search{
  position: absolute;
  right: 20px;
}
.header_search__button::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  mask-image: url('../img/icon/Search-bu.svg');
  mask-repeat: no-repeat;
}
.header_search__button{
  padding: 0px 30px;
  background-color: transparent;
  border: none;
  font-family: var(--font);
  font-size: 1.125rem;
  position: relative;
}

.header_search__button::after{
  content: '';
  background-color: black;
  width: 47%;
  height: 2px;
  position: absolute;
  right: 30px;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: transform .25s ease-in-out;
}

.header_search__button:hover:after{
  transform: scaleY(1);
}

.header__nav_segundary-container{
  display: flex;
  align-items: center;
  gap: 1em;
  position: absolute;
  right: 50px;
  top: -28px;
}

.header__nav_segundary-item{
  cursor: pointer;
  position: relative;
  align-self: flex-end;
  padding-bottom: 1px;
  font-size: 14px;
  font-weight: bold;
}
.header__nav_segundary-item::after {
  height: 2px;
}

.header__nav_segundary-item.nav--login::before{
  content: '';
  position: absolute;
  bottom: -1px;
  left: -25px;
  width: 20px;
  height: 20px;
  background-color: #000;
  mask-image: url('../img/icon/Avatar-bu.svg');
  mask-repeat: no-repeat;
}

.header__nav_segundary-location {
  display: flex;
  align-items: center;
  padding-top: 3.5px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 15px;
  position: relative;
}

.--location::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  mask-image: url('../img/icon/Location-bu.svg');
  mask-repeat: no-repeat;
}

.--location::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #000;
  mask-image: url('../img/icon/Chevron.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
}

.btn{
  padding: 13px 30px;
  text-decoration: none;
  border: solid 1px black;
  width: fit-content;
  min-width: min-content;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  position: relative;
  color: #000;
  transition: .5s ease-in-out;
  display: inline-block;
  white-space: nowrap;
}

.btn:hover{
  background-color: black;
  color: white;
}

.btn::after{
  content: '';
  position: absolute;
  right: 0;
  top: 19px;
  width: 20px;
  height: 20px;
  background-color: #000;
  mask-image: url('../img/icon/Right-Chevron-white.svg');
  mask-repeat: no-repeat;
  transition: .8s ease-in-out;
}
.btn:hover::after{
  background-color: white;
}

.btn--secundary {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #e0301e;
  color: white;
  border: none !important;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  transform-origin: left center;
  gap: 8px;
}

.btn--secundary span {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

/* Efecto hover */
.btn--secundary:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding-right: 25px; 
}

.btn--secundary:hover span {
  transform: translateX(-3px); 
}

.btn--secundary::after {
  content: '';
  right: -5px;
  top: 20px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}


.btn--secundary:hover::after {
  right: 2px;
  background-color: #EB8C00;
  transform: translateX(30%) ;
}


footer { 
  max-width: 1338px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.container_navegation{
  padding: 50px 0;
  align-self: flex-start;
}

.container_about{
  display: flex;
  width: 100%;
  gap: 25px;
  height: 100%;
  max-height: 336px;
  flex-direction: column;
  flex-wrap: wrap;
}

.container_about :nth-child(1) {
  max-height: 267px;
}

.container_about-card{ 
  border-top: solid 2px black;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.container_about-title h4 a{
  width: 100%;
  display: inline-flex;
  font-style: normal;
  font-weight: initial;
  font-size: 1.2em;
  max-width: 198px;
}

.container_about-title h4 a:hover{
  text-decoration: underline;
}

.container_about-links{
  display: flex;
  height: 100%;
  font-weight: bold;
  font-size: .86rem;
  line-height: 1.5em;
  gap: 20px;
}

.container_about-links div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 220px;
}

.container_about-links a {
  display: inline-block;
}

.container_about-links a:hover {
  text-decoration: underline;
}

.container_copy_rigth{
  margin-top: 70px;
  margin-bottom: 30px;
  display: flex;
  position: relative;
  align-self: flex-start;
  width: 100%;
}


/* .container_copy_rigth{
  margin-top: 20px;
  display: flex;
  padding: 50px 0 30px 0;
  align-items: center;
} */


.container_copy_rigth-img{
  background-image: url("../img/photos/PwC-logo-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 48px;
  margin-top: 5px;
  /* float: left; */
  width: 72px;
  height: 55px;
  margin-top: 18px;
  cursor: pointer;
}

.container_copy_rigth-img a{
  display: block;
  width: 100%;
  height: 100%;
}

/* .container_copy_rigth-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

.container_copy_rigth-copy::after {
  /* border-top: 1px solid #cbd1d6; */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #cbd1d6;
}

.container_copy_rigth-copy_p{
  font-size: .857rem;
  display: flow-root;
  line-height: 1.7em;
  margin: 0 0 10px;
  max-width: 765px;
}

.container_copy_rigth-copy_link{
  display: flex;
  flex-wrap: wrap;
  font-size: .857rem;
  vertical-align: baseline;
  line-height: 1.7em;
  gap: 10px 40px;
  max-width: 765px;
}

.container_copy_rigth-copy_link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 980px) {
  .header__nav-list, .header_search, .header__nav_segundary-container {
    display: none;
  }
  .header__nav{
    justify-content: space-between;
    height: 100%;
    padding: 0 5px;
  }
  .header__nav .icon-container{
    display: flex;
    /* background: #000; */
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
  }
  .icon.icon-1{
    cursor: pointer;
  }
  #icono_burguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
  }
  #icono_burguer span{
    background-color: #000;
    height: 2px;
    display: inline-block;
    width: 24px;
  }
  .section_1{
    min-width: 0 !important;
    position: initial !important;
  }
  .section_1__container{
    position: initial !important;
    padding-top: 0px !important;
    width: 100% !important;
    margin-bottom: 30px;
  }
  .section_1__container h2{
    font-size: 1.2rem !important;
  }
  .section_1__container h2 em{
    font-size: 3.5rem !important;
    line-height: 0.5rem !important;
  }
  .section_1 img{
    position: initial !important;
  }
  .section_4__container-news{
    left: 10% !important;
  }
  .container_about-title h4{
    max-width: 125px;
  }
  #acerca_nosotros{
    max-width: 100%;
  }
  .container_about-links div{
    max-width: 95px;
  }
  .container_copy_rigth{
    margin-top: 250px;
  }
}

@media screen and (max-width: 420px) {

  .section_2{
    flex-direction: column;
    max-height: max-content !important;
  }
  .section_3{
    max-height: max-content !important;
  }
  .section_3--div h2{
    font-size: 1.375rem !important;
    width: 100% !important;
  }
  .section_3__container{
    max-height: max-content !important;
  }
  .section_3__container-text{
    width: 100% !important;
  }

  footer{
    background-color: #f5f7f8;
  }
  .section_4__container-news{
    left: 10% !important;
    height: 60% !important;
  }
  .section_4__container_list-news :nth-child(2) {
    width: 100%;
    max-width: initial;
    padding: 0 !important;
  }
   .section_4__container_list-news {
    width: 270px;
   }
  .section_4__container_list-news span{
    font-size: .6rem !important;
  }
  .section_4__container-reds{
    margin-top: -9px;
  }
  .section_4__container-reds span{
    font-size: 1rem !important;
  }
  .container_about{
    max-height: max-content !important;
  }
  .container_about-links div{
    max-width: max-content;
  }
  .container_copy_rigth{
    margin-top: 90px;
  }
  .container_copy_rigth {
    flex-direction: column;
  }
  .container_copy_rigth-copy_link{
    flex-direction: column;
  }
}